

<div class="modal fade" id="reject">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#reject").on("show.bs.modal", function (event) {
            var panel = $(this).closest('.panel');
            var selected = $(panel).find('table > tbody > tr.active');
            var entitykey = $(selected).data('entitykey');
            $(this).find(".modal-body").load("@Url.Action("Reject","EMAudit")" + "?" + entitykey);
        });
        $("#reject").on("hide.bs.modal", function (event) {
            // Place the returned HTML into the selected element
            $(this).find(".modal-body").html("");
        });
    });
</script>