@{
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    //var tableLayout = new TableLayoutModel(this);
    //var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
    //string tableKey = tableLayout.TableKey;

}

<div class="row">
    <!-- BEGIN col-12 -->
    <div class="col-md-6">


        <!-- BEGIN result-list -->
        <div class="result-list">
            <div class="result-item">
                <a href="#" class="result-image" style="background-image: url(../../../../../Content/assets/img/gallery/gallery-100.jpg)"></a>
                <div class="result-info">
                    <h4 class="title"><a href="javascript:;">Employee Handbook</a></h4>
                    <p class="location">Revised: 12/1/2022</p>
                    <p class="desc">
                        A Guide to Employment Policies and Practices
                    </p>
                    <div class="btn-row">
                        <a href="~/Content/documents/EMPLOYEE HANDBOOK 12.1.22.pdf" target="_blank" data-toggle="tooltip" data-container="body" data-title="Open"><i class="fa fa-fw fa-download"></i> Open</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END result-list -->
    </div>
    <div class="col-md-6">


        <!-- BEGIN result-list -->
        <div class="result-list">
            <div class="result-item">
                <a href="#" class="result-image" style="background-image: url(https://www.forbes.com/advisor/wp-content/uploads/2020/06/vanguard-logo.jpeg) "></a>
                <div class="result-info">
                    <h4 class="title"><a href="javascript:;">Vangaurd Benifets Enrollment</a></h4>
                    <p class="location">Added: 1/27/2023</p>
                    <p class="desc">
                        Electing Electronic Notifications and Documents
                    </p>
                    <div class="btn-row">
                        <a href="~/Content/documents/Vanguard 401K Electing Electronic Notifications and Documents.pdf" target="_blank" data-toggle="tooltip" data-container="body" data-title="Open"><i class="fa fa-fw fa-download"></i> Open</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END result-list -->
    </div>
</div>
<br />
    <div class="row">
        <div class="col-md-6">


            <!-- BEGIN result-list -->
            <div class="result-list">
                <div class="result-item">
                    <a href="#" class="result-image" style="background-image: url(https://texashealthagents.com/wp-content/uploads/2018/06/BCBSTX2.jpg) "></a>
                    <div class="result-info">
                        <h4 class="title"><a href="javascript:;">BlueCross BlueShield</a></h4>
                        <p class="location">Site</p>
                        <p class="desc">
                            BlueCross BlueShield Account Access
                        </p>
                        <div class="btn-row">
                            <a href="https://www.bcbstx.com/" target="_blank" data-toggle="tooltip" data-container="body" data-title="Open"><i class="fa fa-fw fa-download"></i> Open</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END result-list -->
        </div>


        <!-- END col-12 -->
    </div>
