
@{
    ViewBag.Title = "Project Scheduling";
}


@section styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" />
    <link href="~/Content/assets/plugins/dhtmlx7/suite/suite.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/dhtmlx7/gantt/dhtmlxgantt.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/dhtmlx7/gantt/controls_styles.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/dhtmlx7/scheduler/dhtmlxscheduler.js"></script>
    <script src="~/Content/assets/plugins/dhtmlx7/scheduler/ext/dhtmlxscheduler_timeline.js"></script>
    <script src="~/Content/assets/plugins/dhtmlx7/scheduler/ext/dhtmlxscheduler_treetimeline.js"></script>
    <script src="~/Content/assets/plugins/dhtmlx7/scheduler/ext/dhtmlxscheduler_readonly.js"></script>
    <script src="~/Content/assets/plugins/dhtmlx7/scheduler/ext/dhtmlxscheduler_container_autoresize.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css?v=7.1.3">

    <style>
        .owner-label {
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            display: inline-block;
            border: 1px solid #cccccc;
            border-radius: 25px;
            background: #e6e6e6;
            color: #6f6f6f;
            margin: 0 3px;
            font-weight: bold;
        }

        .content {
            padding: 0px;
        }
    </style>
    @Styles.Render("~/csspage/inputcontrols")
}

@Html.Partial("../PM/Project/Gantt/Panel")

@section scripts {
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/assets/plugins/dhtmlx7/suite/suite.js"></script>
    <script src="~/Content/assets/plugins/dhtmlx7/gantt/sources/dhtmlxgantt.js"></script>
    <script src="~/Content/assets/plugins/dhtmlx7/gantt/ganttcontrols.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js?v=7.1.3"></script>

    @Scripts.Render("~/jspage/inputcontrols")
<script>
        $(document).ready(function () {
            initGanttSettings();
        });

        function initGanttSettings() {
            gantt.plugins({
                auto_scheduling: true,
                marker: true
            });
            gantt.config.auto_scheduling = true;
            gantt.config.auto_scheduling_strict = true;
            gantt.config.auto_scheduling_compatibility = true;
            gantt.config.sort = true;
            gantt.config.duration_unit = "minute";
            //gantt.config.work_time = true;
            gantt.config.round_dnd_dates = false;
            gantt.config.open_tree_initially = true;
            gantt.config.open_split_tasks = true;
            gantt.config.resource_store = "resource";
            gantt.config.resource_property = "owner";
            gantt.setWorkTime({ hours: [0, 24] });//global working hours. 8:00-12:00, 13:00-17:00

            var dateToStr = gantt.date.date_to_str(gantt.config.task_date);
            var todatMarkerId = gantt.addMarker({
                start_date: new Date(),
                css: "today",
                text: "Now",
                title: dateToStr(new Date())
            });
            

            // formatting durations
            var dayFormatter = gantt.ext.formatters.durationFormatter({
                enter: "day",
                store: "minute",
                format: "day",
                hoursPerDay: 24,
                hoursPerWeek: 168,
                daysPerMonth: 30,
                short: false
            });
            var hourFormatter = gantt.ext.formatters.durationFormatter({
                enter: "hour",
                store: "minute",
                format: "hour",
                short: true
            });
            var autoFormatter = gantt.ext.formatters.durationFormatter({
                enter: "day",
                store: "minute",
                format: "auto"
            });

            var textEditor = { type: "text", map_to: "text" };
            var dateEditor = { type: "date", map_to: "start_date" };//, min: new Date(2020, 0, 1), max: new Date(2021, 0, 1)
            var durationEditor = { type: "duration", map_to: "duration", formatter: autoFormatter, min: 0, max: 1000 };
            var dayDurationEditor = { type: "duration", map_to: "duration", formatter: dayFormatter, min: 0, max: 1000 };
            var hourDurationEditUrlrlr = { type: "duration", map_to: "duration", formatter: hourFormatter, min: 0, max: 1000 };

            gantt.config.columns = [
                {
                    name: "text", tree: true, width: 145, resize: true,
                },
                {
                    name: "description", align: "left", resize: true, width: 200, label: "Job Name", template: function (task) {
                        //console.log(task);
                        return task.JobDescription;
                    }
                },
                {
                    name: "dayDuration", label: "Duration (days)", resize: true, align: "center", template: function (task) {
                        return dayFormatter.format(task.duration);
                    },
                    width: 100
                },
                {
                    name: "start_date", align: "center", width: 125, label: "Start Date", resize: true, editor: dateEditor, template: function (task) {

                        return moment(task.start_date).format('L');
                    }
                },
                {
                    name: "end_date", align: "center", width: 125, label: "End Date", resize: true, template: function (task) {

                        return moment(task.end_date).format('L');
                    }
                },
                {
                    name: "status", align: "left", resize: true, width: 100, label: "Status", template: function (task) {
                        //console.log(task);
                        return task.JobStatusString;
                    }
                },
                {
                    name: "owner", align: "left", min_width: 100, label: "Crew", template: function (task) {
                        //if (task.type == gantt.config.types.project) {
                        //    return "";
                        //}

                        var result = "";
                        var store = gantt.serverList("resource");
                        var owners = task[gantt.config.resource_property];

                        if (!owners || !owners.length) {
                            return "";
                        }

                        if (owners.length == 1) {
                            var result = store.find(o => o.id === owners[0].resource_id);
                            return result.text;
                        }
                        console.log(task.text, owners);
                        owners.forEach(function (ownerId) {
                            //var owner = store.getItem(ownerId);
                            var owner = store.find(o => o.id === ownerId.resource_id);
                            if (!owner)
                                return;
                            result += "<div class='owner-label' title='" + owner.text + "'>" + owner.text.substr(0, 1) + "</div>";

                        });

                        return result;
                    }, resize: true
                },
            ];

            gantt.config.lightbox.sections = [
                { name: "description", height: 70, map_to: "text", type: "textarea", focus: true },
                { name: "owner", height: 60, type: "multiselect", options: gantt.serverList("resource"), map_to: "owner", unassigned_value: "1" },
                { name: "time", type: "duration", map_to: "auto", formatter: autoFormatter },
            ];

            gantt.templates.task_text = function (start, end, task) {
                if (task.progress == 1) {
                    return task.text
                }
                else if (task.progress > 0) {
                    var percent = parseFloat(task.progress).toFixed(2) * 100
                    var stringPercent = parseFloat(percent).toFixed(0);
                    return task.text + ' (' + stringPercent + "% Complete) ";
                }
                return task.text;
            };
            gantt.config.layout = {
                css: "gantt_container",
                cols: [
                    {
                        width: 650,
                        min_width: 600,

                        // adding horizontal scrollbar to the grid via the scrollX attribute
                        rows: [
                            { view: "grid", scrollX: "gridScroll", scrollable: true, scrollY: "scrollVer" },
                            { view: "scrollbar", id: "gridScroll" }
                        ]
                    },
                    { resizer: true, width: 1 },
                    {
                        rows: [
                            { view: "timeline", scrollX: "scrollHor", scrollY: "scrollVer" },
                            { view: "scrollbar", id: "scrollHor" }
                        ]
                    },
                    { view: "scrollbar", id: "scrollVer" }
                ]
            };
            gantt.ext.zoom.init(zoomConfig);
            gantt.attachEvent("onTaskDblClick", function (id, e) {
                console.log('task:', task);
                var task = gantt.getTask(id);
                var url = "@Url.Action("PopupForm", "PMProjectGantt")";
                data = "co=" + task.Co;
                data += "&";
                data += "taskid=" + task.id;

                OpenPopUpWindow(url, data);
                return false;
            });
            gantt.ext.zoom.setLevel("week");

            gantt.$zoomToFit = false;

        }
</script>
}