@model portal.Models.Views.HQ.Batch.AP.APBatchLineListViewModel

@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}

<div class="panel panel-default"
     data-reloadurl="@Url.Action("APBatchLineListTable", "Batch", new { co = Model.APCo, mth = Model.Mth, batchId = Model.BatchId, batchSeq = Model.BatchSeq })"
     id="PackageBoreLineListViewModel">
    <div class="panel-heading pointer-cursor" data-toggle="collapse" data-target="#@(panelId)">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <div class="panel-title">
            <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> AP Batch Lines
        </div>
    </div>
    <div class="panel-body show" id="@panelId">
        @Html.Partial("../HQ/Batch/Detail/AP/Batch/Line/List/Table", Model)
    </div>
</div>
