

<div class="panel panel-warning">
    <div class="panel-heading">
        <div class="panel-heading-btn">
        </div>
        <h4 class="panel-title">Not Mapped</h4>
    </div>
    <div class="panel-body">
        <div class="error">
            <div class="error-content" style="height:400px;">
                <div class="error-message">Batch Data Has Not been Mapped.</div>
            </div>
        </div>
    </div>
</div>