@model portal.Areas.HumanResource.Models.Resource.Form.DrivingInfoViewModel
@{
    var id = Guid.NewGuid().ToString().Replace("-", "");
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}

<!-- begin card -->
<div class="card" style="overflow:visible;">
    <div class="card-header bg-dark-darker pointer-cursor d-flex align-items-center" data-toggle="collapse" data-target="#@panelId">
        <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Drivers License Info
    </div>
    <div id="@panelId" class="collapse">
        <div class="card-body">
            @Html.Partial("Forms/DrivingInfo/_Form", Model)
        </div>
    </div>
</div>
<!-- end card -->