
@{
    var listItemId = 1;
    var listItemTag = "ap_invoice";
}



@if (User.HasAccess("APInvoice", "Index"))
{
    <li id="menu_li_@(listItemTag)_@(listItemId++)" class="has-sub">
        <a href="javascript:;">
            <b class="caret"></b>
            <span>Invoices</span>
        </a>
        <ul class="sub-menu">
            <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "APInvoice", new { Area = "", status = 0 })">Open Invoices</a></li>
            <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "APInvoice", new { Area = "", status = 1 })">All Invoices</a></li>
        </ul>
    </li>
}