@model portal.Models.Views.AR.Customer.Forms.CustomerStatViewModel

@{
    var id = "a" + Guid.NewGuid().ToString().Replace("-", "");
}
<div id="accordion" class="accordion">
    <!-- begin card -->
    <div class="card" style="overflow:visible;">
        <div class="card-header bg-dark-darker pointer-cursor d-flex align-items-center" data-toggle="collapse" data-target="#@id">
            <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Stats
        </div>
        <div id="@id" class="show">
            <div class="card-body">
                @Html.Partial("../AR/Customer/Forms/Stats/Form", Model)
            </div>
        </div>
    </div>
    <!-- end card -->
</div>