
    <div id="dropzone">
        <form action="/upload" class="dropzone needsclick" id="demo-upload">
            <div class="dz-message needsclick">
                Drop files <b>here</b> or <b>click</b> to upload.<br />
                <span class="dz-note needsclick">
                    (This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)
                </span>
            </div>
        </form>
    </div>