@model portal.Models.Views.SM.Request.Equipment.EquipmentListViewModel

<div class="row">
    <div class="col-xl-4">
        @Html.Partial("../SM/Request/Summary/Equipment/List/Panel", Model)
    </div>
    <div class="col-xl-8">
        <div class="reviewPanel" id="reviewPanel">
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        initPanels();
    });
</script>
