@model portal.Models.Views.Payroll.Leave.LeaveRequestStatusLogListViewModel


<div class="panel panel-inverse" data-sortable-id="LeaveRequestStatusLogListViewModel">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
        </div>
        <h4 class="panel-title">Status Log</h4>
    </div>
    <div class="panel-body" id="poRequestStatusLogListViewModel">
        @Html.Partial("../LeaveRequest/StatusLog/Table", Model)
    </div>
</div>