@model portal.Models.Views.AP.Document.DocumentSeqLineListViewModel
@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
    var id = panelId.ToString().Replace("-", "");

}
<div class="panel panel-inverse"
     style="margin-bottom: 0px;"
     id="ApDocumentSeqLineListViewModel"
     data-reloadurl="@Url.Action("LineTable", "APDocument", new { apco = Model.APCo, docId = Model.DocId, seqId = 1 })">
    <div class="panel-heading">
        <div class="panel-heading-btn">            
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>            
        </div>
        <h4 class="panel-title">AP Item(s)</h4>
    </div>
    <div class="panel-body"
         style="padding-bottom: 5px;"
         id="@panelId">
        @Html.Partial("../AP/Document/Lines/Table", Model)
    </div>
</div>
<div id="apLinePanel">
</div>