@model portal.Models.Views.Dashboard.HomeViewModel
<div class="col-xl-2 col-lg-3 col-md-4">
    <!-- begin card -->
    <div class="card card-inverse bg-gradient-aqua">
        <div class="card-block">
            <h4 class="card-title m-t-5 m-b-10">Request Time Off</h4>
            <p class="card-text m-b-15">Request Time Off through the portal.</p>
            <a href="@Url.Action("Create","LeaveRequest")" class="btn btn-sm btn-primary">Create Request</a>
        </div>
    </div>
</div>