
@{
    ViewBag.Title = "Check Email";
}
<div class="login login-with-news-feed">
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image" style="background-image: url(../Content/images/Banner_02.jpg)"></div>
        <div class="news-caption">
            <h4 class="caption-title"><b>Hardrock</b> Portal</h4>
            <p>
                Welcome to the Hardrock Infrastructure Portal.
            </p>
        </div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
        <!-- begin login-header -->
        <div class="login-header">
            <div class="brand">
                @ViewBag.Title
                <small>Thank you for confirming your email.</small>
            </div>
        </div>
        <!-- end login-header -->
        <!-- begin login-content -->
        <div class="login-content">
            <div class="register-buttons">
                <a href="@Url.Action("Login","Account", new { Area="" })" class="btn btn-primary btn-block">Login</a>
            </div>
        </div>
        <!-- end login-content -->
    </div>
    <!-- end right-container -->
</div>