@model portal.Models.Views.AR.Contact.ContactViewModel
@{
    var id = Guid.NewGuid().ToString().Replace("-", "");
}
<div class="panel panel-inverse"
     data-sortable-id="ContactViewModel"
     data-reloadurl="@Url.Action("Form", "Contact", new { custGroupId = Model.ContactGroupId, customerId = Model.CustomerId, ContactId = Model.ContactId })"
     data-initpane="initPane@(id)">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
            
        </div>
        <h4 class="panel-title">Info (@Model.FullName)</h4>
    </div>
    <div class="panel-body" id="contactinfo">
        @Html.Partial("../AR/Contact/Form", Model)
    </div>
</div>