@model portal.Models.Views.JC.Market.MarketListViewModel
<div class="panel panel-inverse"
     id="MarketListViewModel"
     data-reloadurl="@Url.Action("Table","JCMarket")">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <h4 class="panel-title">Job Market Listing </h4>
    </div>
    <div class="panel-body" id=">@ViewBag.Title">
        @Html.Partial("../JC/Market/List/Table", Model)
    </div>
</div>
