 <!-- begin navbar-header -->
<div class="navbar-header">
    <a href="@Url.Action("Index","Home", routeValues: new { Area = "" })" class="navbar-brand"><img src="~/Content/assets/img/logo/hardrock-logo.png"  /> <b>HardRock</b> portal</a>
    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<!-- end navbar-header -->