@model portal.Models.Views.Web.WebUserOverrideViewModel
@{
    var formId = string.Format("form_{0}", Guid.NewGuid());
    var id = formId.ToString().Replace("-", "");
}
<form class="form-horizontal m-5"
      style="width:100%;"
      id="@formId"
      data-urlupdate="@Url.Action("UserIdOverride", "Base", new { Area = "" })"
       data-postupdate="PostUpdate@(id)">
    @Html.AntiForgeryToken()
    <div class="form-group has-feedback row">
        @Html.EditorFor(m => m.UserId, new { ViewOnly = false })
    </div>
</form>

<script>
    $('#@formId').ready(function () {
        Form().init('#@formId');;
    });
    function PostUpdate@(id)(elem) {
        //console.log('USer Override triggered');
        $('#overrideUser').modal('toggle');
        $('#page-container').addClass('d-none');
        $('#page-loader').addClass('show');
        $('#page-loader').removeClass('d-none');
        $('#page-loader').show();//('show');
        //page-loader
        location.reload(true);
    }

</script>
