@model portal.Models.Views.AP.Invoice.InvoiceSummaryListViewModel
<div class="panel panel-inverse"
     data-sortable-id="@(Guid.NewGuid())"
     data-reloadurl="@Url.Action("Table", ViewBag.Controller)">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <h4 class="panel-title">AP Invoices</h4>
    </div>
    <div class="panel-body" id="InvoiceSummaryListViewModel">
        @Html.Partial("../AP/Invoice/Table", Model)
    </div>
</div>