@model portal.Models.Views.AP.Invoice.InvoiceLineViewModel
@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
    var id = panelId.ToString().Replace("-", "");
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
}

<div class="panel panel-inverse"
     data-sortable-id="PurchaseOrderItemViewModel"
     id="PurchaseOrderItemViewModel"
     data-reloadurl="@Url.Action("LineForm", "APInvoice", new { apco = Model.APCo, mth = Model.Mth, aPTransId = Model.APTransId, lineId = Model.LineId })"
     data-initpane="initPane@(id)">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
            
        </div>
        <h4 class="panel-title">Line #@Model.LineId Details</h4>
    </div>
    <div class="panel-body" id="@panelId">
        @Html.Partial("../AP/Invoice/Lines/Form/Form", Model)
    </div>
</div>
<div id="poLinePanel">
    @*@Html.Partial("../PurchaseOrder/Items/Form", obj)*@
</div>
<script>
    $(document).ready(function () {
        initPane@(id)();
    });

    function initPane@(id)() {
        setTimeout(function () {
            $('#@panelId').find('form').each(function () {
                handleTypeView(this);
                handleCalcView(this);
                handleTaxView(this);
            });
        }, 0);
    }

    function handleTaxView(form) {
        var elem = $(form).find("[name='TaxTypeId']");
        var val = $(elem).val();
        var tax = $(form).find('.taxFieldSet');
        var taxAmount = $(form).find('.TaxAmount');
        var taxRate = $(form).find('.TaxRate');
        var taxType = $(form).find('.TaxTypeId');
        var taxCode = $(form).find('.TaxCodeId');
        var lineTypeId = $(form).find("[name='LineTypeId']").val();
        $(tax).hide();
        $(form).find('.taxGroup').hide();
        var viewOnly = '@viewOnly' === 'True';

        if ("@(User.IsInRole("Admin") ||
                User.IsInPosition("FIN-APMGR") ||
                User.IsInPosition("FIN-AP") ||
                User.IsInPosition("FIN-CTRL") ||
                User.IsInPosition("CFO"))" == "True") {
            $(tax).show();
            if (lineTypeId !== "6") {
                $(taxType).prop("disabled", viewOnly ? viewOnly : false);
            }
            if (val != "0") {
                $(form).find('.taxGroup').show();
            }
        }
        else {
            $(taxType).prop("disabled", true);
            $(taxCode).prop("disabled", true);
            if (val != "0" && lineTypeId !== "6") {
                $(form).find('.taxGroup').show();
                $(tax).show();
            }
        }
        $(taxAmount).prop("disabled", true);
        $(taxRate).prop("disabled", true);

    }

    function handleCalcView(form) {
        var elem = $(form).find("[name='CalcType']");
        var val = $(elem).val();
        //var lineTypeId = $(form).find("[name='LineTypeId']").val();
        //console.log(elem, val);

        $(form).find('.unitGroup').hide();
        $(form).find('.unitCostGroup').hide();
        if (val == "1") {
            $(form).find('.unitGroup').show();
            $(form).find('.unitCostGroup').show();
        }
        else {
        }
    }

    function handleTypeView(form) {
        var elem = $(form).find("[name='LineTypeId']");
        var calcType = $(form).find("[name='CalcType']")
        var taxType = $(form).find("[name='TaxTypeId']");
        var um = $(form).find("[name='UM']");
        var viewOnly = '@viewOnly' === 'True';
        var lineTypeId = $(elem).val();
        //console.log('lineTypeId', lineTypeId);

        $(form).find('.unitGroup').each(function () {
            $(this).prop("disabled", viewOnly ? viewOnly : false);
        });

        $(calcType).prop("disabled", viewOnly ? viewOnly : false);
        $(taxType).prop("disabled", viewOnly ? viewOnly : false);
        $(um).prop("disabled", viewOnly ? viewOnly : false);

        $(form).find('.jobGroup').hide();
        $(form).find('.eqpGroup').hide();
        $(form).find('.poGroup').hide();
        $(form).find('.glGroup').hide();
        if (lineTypeId == "4") {
            $(form).find('.eqpGroup').show();
            $(form).find('.jobGroup').each(function () {
                $(this).prop("disabled", viewOnly ? viewOnly : false);
            });
        }
        else if (lineTypeId == "1") {
            $(form).find('.jobGroup').show();
            $(form).find('.jobGroup').each(function () {
                $(this).prop("disabled", viewOnly ? viewOnly : false);
            });
        }
        else if (lineTypeId == "3") {
            $(form).find('.glGroup').show();
        }
        else if (lineTypeId == "6") {
            $(form).find('.poGroup').show();
            var elem = $(form).find("[name='POItemTypeId']");
            var itemTypeId = $(elem).val();

            $(calcType).prop("disabled", true);
            $(taxType).prop("disabled", true);
            $(um).prop("disabled", true);

            //$(form).find('.unitGroup').each(function () {
            //    $(this).prop("disabled", true);
            //});

            if (itemTypeId == "4" || itemTypeId == "Equipment") {
                $(form).find('.eqpGroup').show();
                $(form).find('.eqpGroup').each(function () {
                    $(this).prop("disabled", true);
                });
            }
            else if (itemTypeId == "1" || itemTypeId == "Job") {
                $(form).find('.jobGroup').show();
                $(form).find('.jobGroup').each(function () {
                    $(this).prop("disabled", true);
                });
            }
            else if (itemTypeId == "3" || itemTypeId == "Expense") {
                $(form).find('.glGroup').show();
                $(form).find('.glGroup').each(function () {
                    $(this).prop("disabled", true);
                });
            }
        }
    }
</script>
