@model portal.Models.Views.Dashboard.HomeViewModel
@if (Model.PORejectCount > 0)
{
    <div class="col-xl-2 col-lg-3 col-md-4">
        <div class="widget widget-stats bg-orange">
            <div class="stats-icon"><i class="fa fa-thumbs-down"></i></div>
            <div class="stats-info">
                <h4>Rejected Purchase Orders</h4>
                <p>@Model.PORejectCount</p>
            </div>
            <div class="stats-link">
                <a href="@Url.Action("PendingIndex", "UserPORequest")">Goto Review <i class="fa fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
}