@model portal.Models.Views.Bid.Forms.Proposal.Package.ProposalScopeListViewModel

@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}

<div class="panel panel-default"
     data-reloadurl="@Url.Action("PackageProposalScopeListTable", "BidForm", new { bdco = Model.BDCo, bidId = Model.BidId, packageId = Model.PackageId, ScopeTypeId = Model.ScopeTypeId })"
     >
    <div class="panel-heading pointer-cursor" data-toggle="collapse" data-target="#@(panelId)">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <div class="panel-title">
            <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Package @Model.ScopeTypeId.GetDisplayName()
        </div>
    </div>
    <div class="panel-body collapse" id="@panelId">
        @Html.Partial("../BD/Bid/Forms/Proposal/Package/ScopeList/Table", Model)
    </div>
</div>
