@model portal.Models.Views.JC.Job.JobViewModel

<div class="panel panel-inverse" >
    <div class="panel-heading">
        <div class="panel-heading-btn">
            
            
        </div>
        <h4 class="panel-title">Job Info for @Model.JobId (@Model.JobName)</h4>
    </div>
    <div class="panel-body" id="jobInfo">
        @Html.EditorForModel("Form/FormList")
    </div>
</div>