@model portal.Models.Views.AP.Document.vDocumentListViewModel

@{
    var tableId = string.Format("table_{0}", Guid.NewGuid());
    var guid = tableId.ToString().Replace("-", "");
}
<div id="attachmentDropzone_@(guid)"
     class="dropzone needsclick"
     method="post"
     enctype="multipart/form-data"
     data-co="@Model.APCo"
     data-tablename="@Model.TableName"
     data-rootfolder="root">
    <div class="dz-default dz-message" data-dz-message="">
        <span>Drop files here to upload </span>
        <br />
        <span class="small">(Click to upload) </span>
    </div>
    @Html.AntiForgeryToken()
</div>
<script>
    $("#attachmentDropzone_@(guid)").ready(function () {
        var msg = "";
        $("#attachmentDropzone_@(guid)").dropzone({
            url: "@Url.Action("Add", "APDocument")",
            uploadMultiple: true,
            parallelUploads: 1,
            maxFilesize: 80, // MB
            init: function () {
            dpzMultipleFiles = this;
                this.on('completemultiple', function (file, json) {
                $('.sortable').sortable('enable');
            });
                this.on('success', function (file, json) {
                    console.log('json:', json);

                    msg = json.Message;

                    if (json.Message == "Uploaded") { // succeeded
                    }
                    else if (json.Message == "Duplicate") {  //  error
                        this.emit('error', file, 'Duplicate File');
                        //file.defaultOptions.error(file, 'Duplicate File');
                    }
            });
            this.on('resetFiles', function() {
                //console.log('resetFiles');
                dpzMultipleFiles.removeAllFiles();
            });
            this.on("sending", function(file, xhr, data) {
                data.append("Co", $("#attachmentDropzone_@(guid)").data('co'));
                data.append("TableName", $("#attachmentDropzone_@(guid)").data('tablename'));
                data.append("FullPath", file.fullPath);
                data.append("rootFolder", $("#attachmentDropzone_@(guid)").data('rootfolder'));
            });
            this.on('queuecomplete', function (data) {
                console.log(this.files);
                //table.ajax.reload();
                var table = $('#apDocumentTable');
                $(table).DataTable().ajax.reload();
            //dpzMultipleFiles.emit("resetFiles");
                //var table = $('#apDocumentTable');
                //table.ReloadPanel();
            })
            this.on("addedfile", function (file) {
                //console.log('addedfile');
            });
            this.on('drop', function (file) {
                //console.log('drop');
            });
            this.on("maxfilesexceeded", function (file) {
                //console.log('maxfilesexceeded');
            });
            }
        });
    });
</script>