@model portal.Models.Views.PM.Project.Schedule.FormViewModel
@{
    var formId = string.Format("form_{0}", Guid.NewGuid());
    var timeline = "JobGantt_" + formId.ToString().Replace("-", "");
    var panel = "panel_" + formId.ToString().Replace("-", "");
}

<div class="gantt_control">
    <button class='zoom_toggle' onclick="toggleMode(this)">Zoom to Fit</button>
    <input type=button value="Zoom In" onclick="zoom_in();">
    <input type=button value="Zoom Out" onclick="zoom_out();">
    @*<input type='button' id='default' onclick="showGroups()" value="Tree">
    <input type=button value="Group Crews" onclick="showGroups('resource');">*@
</div>
<div id="@timeline" class="gantt_chart" style='width:100%; height:100%; height:200px;'
     data-urlupdate="@Url.Action("GanttUpdate", "PMProjectScheduleForm")"
     data-dataurl="@Url.Action("GanttData", "PMProjectScheduleForm", new { Area = "",bdco = Model.BDCo, projectId = Model.JobId, jcco = Model.JCCo, packageId = Model.PackageId, bidId = Model.BidId })">

</div>

<script>
    $("#@panel").ready(function () {
        var url = $('#@timeline').data("dataurl");
        
        gantt.clearAll();
        gantt.load(url, "json");
        gantt.init("@timeline");
        gantt.ext.inlineEditors.attachEvent("onBeforeSave", function (state) {
            var oldDate = new Date(state.oldValue);
            var newDate = new Date(state.newValue);
            var diff = newDate - oldDate;
            gantt.message("handler");
            console.log("date diff:", diff);
            var task = gantt.getTask(state.id);
            var subTasks = gantt.getChildren(task.id);
            subTasks.forEach(function (subTaskId) {
                var subTask = gantt.getTask(subTaskId);
                subTask.start_date = new Date(+subTask.start_date + diff);
                subTask.end_date = new Date(+subTask.end_date + diff);
                gantt.updateTask(subTask.id, subTask);
            });
            return true;
        });

    });
    function showGroups(listname) {
        console.log(gantt.serverList('resource'))
        if (listname) {
            

            gantt.groupBy({
                groups: gantt.serverList('resource'),
                relation_property: gantt.config.resource_property,
                group_id: "id",
                group_text: "text",
                default_group_label: "Unassigned"
            });
            gantt.sort("start_date");
        } else {
            gantt.groupBy(false);

        }
    }
</script>
