@media print {
    @page {
        @top-left {
            content: "HEADER";
        }

        @top-center {
            content: "READ THE TUTORIAL";
        }

        @top-right {
            content: "kmcnet";
        }

        @bottom-left {
            content: "FOOTER";
        }

        @bottom-center {
            content: "Page " counter(page) " of " counter(pages);
        }

        @bottom-right {
            content: "The end";
        }
    }
}
