@model portal.Models.Views.HQ.Attachment.FileExplorerListViewModel
@{
    var id = Guid.NewGuid().ToString().Replace("-", "");
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
    var breadCrumbId = panelId.Replace('-', '_');
    var tableId = string.Format("table_{0}_{1}", Model.UniqueAttchId, Model.FolderId);
}
<div class="row" style="overflow:visible;">
    <div class="col-lg-12 p-1">
        <div id="previewPanel" style="padding: 0px;">
        </div>
    </div>
</div>
