@model portal.Areas.Payroll.Models.Crew.CrewListViewModel


@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
    var panelBodyId = string.Format("panel_{0}", Guid.NewGuid());
}

<div id="@panelId"
     class="panel panel-default"
     data-reloadurl="@Url.Action("CrewTable", "Crew")">
    <div class="panel-heading pointer-cursor" data-toggle="collapse" data-target="#@(panelId)">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <div class="panel-title">
            <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Crews
        </div>
    </div>
    <div class="panel-body show" id="@panelBodyId">
        @Html.Partial("List/_Table", Model)
    </div>
</div>