<!-- begin page header -->
<div align="center" valign="top">
    <a href='@Url.Action("Index","Home", null, this.Request.Url.Scheme)'>
        <img src="https://@(Request.Url.Authority)/Content/assets/img/logo/hardrock-logo.png" style="width: 200px;height: 120px;" />
    </a>
</div>
<!-- end page header -->