@model portal.Models.Views.WA.Application.TrafficAccidentListViewModel

@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}

<div class="panel panel-default  m-b-5"
     data-reloadurl="@Url.Action("ApplicationTrafficAccidentTable", "WebApplication", new { applicantId = Model.ApplicantId , applicationId = Model.ApplicationId })">
    <div class="panel-heading pointer-cursor" data-toggle="collapse" data-target="#@(panelId)">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <div class="panel-title">
            <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Traffic Accidents (@Model.List.Count)
        </div>
    </div>
    <div class="panel-body collapse" id="@panelId">
        @Html.Partial("../HR/Applicant/Form/Application/Form/TrafficAccident/Table", Model)
    </div>
</div>