@model portal.Models.Views.Equipment.Audit.EquipmentStatusLogListViewModel


<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            
            
        </div>
        <h4 class="panel-title">Status Log</h4>
    </div>
    <div class="panel-body" id="EquipmentStatusLogListViewModel">
        @Html.Partial("../EM/Audit/StatusLog/Table", Model)
    </div>
</div>