@model portal.Models.Views.Equipment.Service.Forms.EquipmentLinkListViewModel
@{
    var id = Guid.NewGuid().ToString().Replace("-", "");
    var panelId = "panelId_" + Guid.NewGuid();
}
<div class="panel panel-default"
     data-reloadurl="@Url.Action("ServiceItemEquipmentTable", "EquipmentService", new { co = Model.Co, serviceItemId = Model.ServiceItemId })">
    <div class="panel-heading pointer-cursor" data-toggle="collapse" data-target="#@(panelId)">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <div class="panel-title">
            <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Equipment List
        </div>
    </div>
    <div class="panel-body show" id="@panelId">
        @Html.Partial("../EM/Service/Forms/Equipment/Table", Model)
    </div>
</div>