@model portal.Models.Views.Forums.ForumLineViewModel


<li>
    <!-- begin media -->
    <div class="media">
        <img src="" alt="" />
        <span class="label label-primary" style="white-space: normal">@Model.CreatedUser.JobTitle</span>
    </div>
    <!-- end media -->
    <!-- begin info-container -->
    <div class="info-container" style="padding:10px;">
        <div class="post-user"style="margin-bottom:5px;"><a href="#">@Model.CreatedUser.FullName</a> <small>Comment</small></div>
        <div class="post-content" style="margin-bottom:5px;">
            @Html.Raw(Model.HtmlComment)
        </div>
        <div class="post-time">@Model.CreatedOn</div>
    </div>
    <!-- end info-container -->
</li>
