<!-- begin page footer -->
<table class="row footer">
    <tr>
        <td class="center" align="center">
            <center>
                <table class="spacer">
                    <tbody>
                        <tr>
                            <td height="50px" style="font-size:50px;line-height:50px;">&#xA0;</td>
                        </tr>
                    </tbody>
                </table>
                <!-- begin container -->
                <table class="container">
                    <tr>
                        <!-- begin wrapper -->
                        <td class="wrapper">
                            <table class="twelve columns">
                                <tr>
                                    <td class="last">
                                        <p>
                                            <i>This is a system generated email and reply is not required.</i>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- end wrapper -->
                    </tr>
                </table>
                <table class="container">
                    <tr>
                        <td class="wrapper">
                            <table class="six columns">
                                <tr>
                                    <td class="wrapper text-right valign-middle">
                                        &copy; HardRock @DateTime.Now.Year.
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="wrapper">
                            <table class="six columns">
                                <tr>
                                    <td class="wrapper text-right valign-middle">
                                        <a href="@Url.Action("Index","Home", null, Request.Url.Scheme)">Home</a>
                                        &nbsp;
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- end container -->
            </center>
        </td>
    </tr>
</table>
<!-- end page footer -->