@model portal.Models.Views.JC.Industry.Form.IndustryAssignedMarketListViewModel
@{
    var id = Guid.NewGuid().ToString().Replace("-", "");
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}

<!-- begin card -->
<div class="card" style="overflow:visible;">
    <div class="card-header bg-dark-darker pointer-cursor d-flex align-items-center" data-toggle="collapse" data-target="#@panelId">
        <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Markets Assigned
    </div>
    <div id="@panelId" class="show">
        <div class="card-body">
            @Html.Partial("../JC/Industry/Forms/Market/Table", Model)
        </div>
    </div>
</div>
<!-- end card -->