
<div class="error">
    <div class="error-code m-b-10">500</div>
    <div class="error-content">
        <div class="error-message">Database Connection Issue</div>
        <div class="error-desc m-b-30">
            Sorry, but the system cannot connect to the Database at this time, Please contact IT to resolve the issue
        </div>
        <div>
            @*<a href="@Url.Action("Index","Home", routeValues: new { Area = "" })" class="btn btn-success p-l-20 p-r-20">Return to Main page</a>*@
        </div>
    </div>
</div>