


<div class="panel panel-danger">
    <div class="panel-heading">
        <div class="panel-heading-btn">
        </div>
        <h4 class="panel-title">Error 404</h4>
    </div>
    <div class="panel-body">
        <div class="error">
            <div class="" style="padding-top:0px">
                <div class="">Page Not Found</div>
                <div class="">
                    Sorry, but the page you are looking for could not be found.
                </div>
            </div>
        </div>

    </div>
</div>