@model portal.Models.Views.Payroll.PayrollReviewSummaryListViewModel


<div class="row">
    <div class="col-xl-12" id="weekPanel">
        @Html.Partial("../DT/Summary/User/List/Panel", Model)
    </div>
</div>
<div class="row">
    <div class="col-xl-12" id="reviewPanel">

    </div>
</div>