<div class="modal fade" id="position">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style=" padding: 0px 0px 5px 0px;">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        initPanels();
        $("#position").on("show.bs.modal", function (event) {
            if (event.target == this) {

                console.log("position.show.bs.modal", event, this);
                var button = $(event.relatedTarget);
                $(button).Busy();
                if (true) {
                    var url = "@Url.Action("Create", "HRPositionRequestForm")";
                    //console.log(url);
                    $(this).find(".modal-body").load(url);
                    $(button).NotBusy();
                }
            }
        });
        $("#position").on("hide.bs.modal", function (event) {
            if (event.target == this) {
                var button = $(event.relatedTarget);
                console.log("position.hide.bs.modal", event, this);
            
                // Place the returned HTML into the selected element
                $(this).find(".modal-body").html("");
            }
        });
    });
</script>