@model portal.Models.Views.Purchase.Request.PORequestStatusLogListViewModel


<div class="panel panel-inverse" data-sortable-id="PORequestStatusLogListViewModel"
     data-reloadurl="@Url.Action("Table", "POStatusStatusLog", new { poco = Model.POCo, requestId = Model.RequestId })">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
            
        </div>
        <h4 class="panel-title">Status Log</h4>
    </div>
    <div class="panel-body" id="poRequestStatusLogListViewModel">
        @Html.Partial("../PO/Request/Form/StatusLog/List/Table", Model)
    </div>
</div>