@model portal.Models.Views.Bid.Forms.Package.Price.SetupFormView
@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}
<div id="@panelId" class="row">
    <div class="col-5">
        @Html.Partial("../BD/Bid/Forms/Package/Summary/BoreCost/Panel", Model.CostSummary)
    </div>
    <div class="col-7">
        @Html.Partial("../BD/Bid/Forms/Package/Summary/Cost/Panel", Model.CostSummary)
    </div>
</div>

<script>
    $('#@panelId').ready(function () {
        initPanels($('#@panelId'));
    });
</script>