@model portal.Models.Views.AP.Document.vDocumentListViewModel

@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}
<div class="panel panel-default"
     data-reloadurl="@Url.Action("Table", "APDocument", new { status = (int)Model.Status })">
    <div class="panel-heading pointer-cursor" data-toggle="collapse" data-target="#@(panelId)">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <div class="panel-title">            
            <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> AP Documents
        </div>
    </div>
    <div class="panel-body show" id="@panelId">
        @Html.Partial("../AP/Document/Filed/Table", Model)
    </div>
</div>