@model portal.Areas.HumanResource.Models.TermRequest.TermRequestListViewModel

<div class="panel panel-inverse"
     data-sortable-id="@(Guid.NewGuid())"
     data-reloadurl="@Url.Action("UserTable", "TermRequest")"
     style="margin-bottom: 0px;">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <h4 class="panel-title">@ViewBag.Title</h4>
    </div>
    <div class="panel-body" id="TermRequestListViewModel">
        @Html.Partial("List/User/_Table", Model)
    </div>
</div>