@model portal.Models.Views.DailyTicket.DailyCrewTicketViewModel
@{ 
    var id = Guid.NewGuid().ToString().Replace("-","");
    var tablePanelId = "panel_DailyCrewEmployeeListViewModel" + Model.TicketId.ToString();
}
<div class="panel panel-inverse"
     data-sortable-id="DailyJobTicketViewModel"
     data-reloadurl="@Url.Action("CrewTicketForm", "DailyTicketForm", new { dtco = Model.DTCo, ticketId = Model.TicketId })"
     data-initpane="initPane@(id)"
     >
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-url="@Url.Action("Panel","AuditLog")" data-click="panel-history" style="display:none"><i class="fas fa-history"></i></a>            
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>            
        </div>
        <h4 class="panel-title">Info (@Model.TicketId)</h4>
    </div>
    <div class="panel-body" id="forminfo">
        @Html.Partial("../DT/Type/Crew/Form/Form", Model)
    </div>
</div>
<script>
    $(document).ready(function () {
        initPane@(id)();
    });

    function initPane@(id)() {
         setTimeout(function () {
           // handleCrewChange();
            handleEmployeeView();
        }, 500);
    }

    function handleEmployeeView() {
        var crewId = $("[name='CrewId']").val();
        var jobId = $("[name='JobId']").val();
        if (crewId !== null && crewId !== "" && crewId !== "null" &&
            jobId !== null && jobId !== "" && jobId !== "null") {
            $('#@tablePanelId').find('.panel-body').show();
            //$(document).find('[data-sortable-id=DailyCrewEmployeeListViewModel] [data-click=panel-reload]').click();
        }
        else {
            $('#@tablePanelId').find('.panel-body').hide();
        }
    }

    function handleCrewChange() {
        //$("[name='CrewId']").change(function () {
            $('#@tablePanelId').find('[data-click=panel-reload]').click();
        //});
    }

</script>