@model portal.Models.Views.WF.WorkFlowUserListViewModel
@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}


<div class="panel panel-default">
    <div class="panel-heading pointer-cursor" data-toggle="collapse" data-target="#workFlowUsers">
        <div class="panel-title">
            <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i>Work Flow Users
        </div>
    </div>
    <div class="panel-body collapse" id="workFlowUsers">
        @Html.Partial("../WF/AssignedUsers/Table", Model)
    </div>
</div>