@model portal.Models.Views.HR.Resource.Form.ResourceInfoViewModel
@{
    var id = Guid.NewGuid().ToString().Replace("-", "");
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}

<!-- begin card -->
<div class="card" style="overflow:visible;">
    <div class="card-header bg-dark-darker pointer-cursor d-flex align-items-center" data-toggle="collapse" data-target="#@panelId">
        <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Picture
    </div>
    <div id="@panelId" class="collapse show">
        <div class="card-body">
            @Html.Partial("../HR/Employee/Forms/Picture/Form", Model)
        </div>
    </div>
</div>
<!-- end card -->