@model portal.Models.Views.WA.Applicant.ApplicantListViewModel
<div class="panel panel-inverse"
     data-sortable-id="@(Guid.NewGuid())"
     data-reloadurl="@Url.Action(ViewBag.TableAction, "WebApplication")"
     style="margin-bottom: 0px;">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <h4 class="panel-title">@ViewBag.Title</h4>
    </div>
    <div class="panel-body" id="ResourceListViewModel">
        @Html.Partial("../HR/Applicant/Table", Model)
    </div>
</div>