@model portal.Areas.Project.Models.Bid.Package.PackageCostListViewModel
@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}
<div id="@panelId" class="row">
    <div class="col-5">
        @Html.Partial("Forms/Package/CostSummary/BoreCost/_Panel", Model)
    </div>
    <div class="col-7">
        @Html.Partial("Forms/Package/CostSummary/Cost/_Panel", Model)
    </div>
</div>