@using portal
@{
    var listItemId = 1;
    var listItemTag = "pm_bid";
}

@if (User.HasAccess("Bid"))
{
    <li id="menu_li_bd_@(listItemId++)" class="has-sub">
        <a href="javascript:;">
            <b class="caret"></b>
            <span>Bids</span>
        </a>
        <ul class="sub-menu">
            <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Tracker", "Bid", routeValues: new { Area = "Project" })">Bid Tracker</a></li>
        </ul>
    </li>
}