@using portal
@{
    var listItemId = 1;
    var listItemTag = "pm_job";
}

@if (User.HasAccess("Job", "GrossMarginIndex") ||
    User.HasAccess("Job", "OpenIndex") ||
    User.HasAccess("Job", "Index"))
{
    <li id="menu_li_@(listItemTag)_@(listItemId++)" class="has-sub">
        <a href="javascript:;">
            <b class="caret"></b>
            <span>Jobs</span>
        </a>
        <ul class="sub-menu">
            @if (User.HasAccess("Job", "GrossMarginIndex"))
            {
                <li id="menu_li_@(listItemTag)_@(listItemId++)" class="has-sub">
                    <a href="javascript:;">
                        <b class="caret"></b>
                        <span>Reports</span>
                    </a>
                    <ul class="sub-menu">
                        <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("GrossMarginIndex", "Job", routeValues: new { Area = "Project" })">Gross Margin Report</a></li>
                    </ul>
                </li>
            }
            <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("OpenIndex", "Job", routeValues: new { Area = "Project" })">Open Jobs</a></li>
            <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "Job", routeValues: new { Area = "Project" })">All Jobs</a></li>
        </ul>
    </li>
}