@model portal.Models.Views.Firm.FirmViewModel
@{
    var id = Guid.NewGuid().ToString().Replace("-", "");
}
<div class="panel panel-inverse"
     data-sortable-id="DailyJobTicketViewModel"
     data-reloadurl="@Url.Action("Form", "Firm", new { co = Model.VendorGroupId, bidId = Model.FirmNumber })"
     data-initpane="initPane@(id)">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
            
        </div>
        <h4 class="panel-title">Info (@Model.FirmName)</h4>
    </div>
    <div class="panel-body" id="forminfo">
        @Html.Partial("../PM/Firm/Form", Model)
    </div>
</div>