@model portal.Models.Views.JC.Job.JobSummaryViewModel

<div class="panel panel-inverse" >
    <div class="panel-heading">
        <div class="panel-heading-btn">
            
            
        </div>
        <h4 class="panel-title">Actual vs Budget</h4>
    </div>
    <div class="panel-body" id="jobInfo">
        @Html.Partial("../JC/Job/ACtBgt/Form", Model)
    </div>
</div>
<script>
    function initPane() {
        //handleTableAutoUpdate();
    }
</script>