
@{
    var listItemId = 1;
    var listItemTag = "gl";
    var guid = Guid.NewGuid().ToString().Replace(" - ", "");
}
@if (User.IsInPosition("IT-DIR") ||
    User.IsInPosition("CFO") ||
    User.IsInPosition("FIN-CTRL") ||
    User.IsInPosition("FIN-AUDIT"))
{
    <li id="menu_li_@(listItemTag)_@(listItemId++)" class="has-sub">
        <a href="javascript:;">
            <b class="caret"></b>
            <i class="fab fa-app-store"></i>
            <span>Applications</span>
        </a>
        <ul class="sub-menu">
            <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="~/PublishApps/ExcelAddin/excelfinanceaddin.application?id=@(guid)">Excel GL AddIn Installer</a></li>
        </ul>
    </li>
}

