
@{
    var listItemId = 1;
    var listItemTag = "hr_asset";
}


@if (User.HasAccess("Assets") )
{
    <li id="menu_li_@(listItemTag)_@(listItemId++)" class="has-sub">
        <a href="javascript:;">
            <b class="caret"></b>
            <span>Assets</span>
        </a>
        <ul class="sub-menu">
            @if (User.HasAccess("Assets"))
            {
                <li id="menu_li_@(listItemTag)_@(listItemId++)"><a href="@Url.Action("Index", "Assets", new { Area = "HumanResource" })">Asset(s)</a></li>
            }
        </ul>
    </li>
}