@model portal.Models.Views.Equipment.Audit.EquipmentAuditRejectViewModel
@{
    var id = Guid.NewGuid().ToString().Replace("-", "");
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}
<div class="panel panel-inverse"
        >
    <div class="panel-heading">
        <h4 class="panel-title">Reject Equipment Audit</h4>
    </div>
    <div class="panel-body" id="@panelId">
        @Html.Partial("../EM/Audit/Reject/Form/Form", Model)
    </div>
</div>