@model portal.Areas.HumanResource.Models.Resource.Form.PayInfoViewModel
@{
    var id = Guid.NewGuid().ToString().Replace("-", "");
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}

<!-- begin card -->
<div class="card" style="overflow:visible;">
    <div class="card-header bg-dark-darker pointer-cursor d-flex align-items-center" data-toggle="collapse" data-target="#@panelId">
        <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Payroll Info
    </div>
    <div id="@panelId" class="collapse">
        <div class="card-body">
            @Html.Partial("Forms/PayrollInfo/_Form", Model)
        </div>
    </div>
</div>
<!-- end card -->
<!-- begin card -->
<div class="card" style="overflow:visible;">
    <div class="card-header bg-dark-darker pointer-cursor d-flex align-items-center" data-toggle="collapse" data-target="#H_@panelId">
        <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Payroll Salary History
    </div>
    <div id="H_@panelId" class="collapse">
        <div class="card-body">
            @Html.Partial("Forms/PayrollInfo/List/_Table", Model.SalaryHistory)
        </div>
    </div>
</div>
<!-- end card -->