@{
    ViewBag.Title = "Health Check";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<div class="error">
    <div class="error-code m-b-10">LOADED</div>
    <div class="error-content">
        <div class="error-message">Health Check</div>
        <div class="error-desc m-b-30">
            The Page Loaded
        </div>
    </div>
</div>