@model portal.Models.Views.Bid.Forms.Bore.Setup.SetupFormView
@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}
<div id="@panelId">
    @Html.Partial("../BD/Bid/Forms/Bore/Setup/Form/ProductionRate/Panel", Model.ProductionRates)
    @Html.Partial("../BD/Bid/Forms/Bore/Setup/Form/CostItem/Panel", Model.CostItems)
</div>

<script>
    $('#@panelId').ready(function () {
        initPanels($('#@panelId'));
    });
</script>