@model portal.Models.Views.Bid.Wizard.Estimate.PackageBoreLineListViewModel

<div class="panel panel-inverse" 
     id="PackageBoreLineListViewModel"
     data-reloadurl="@Url.Action("PackageTable", "BidBoreLineEstimateWizard", new { co = Model.Co, bidId = Model.BidId , packageId = Model.PackageId })"
     data-reloadpanels="">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
            
        </div>
        <h4 class="panel-title">Package Bore Lines</h4>
    </div>
    <div class="panel-body" id="PackageBoreLines">
        @Html.Partial("../BD/Bid/Wizard/Estimate/Line/PackageTable", Model)
    </div>
</div>
<script>

</script>
