@model portal.Models.Views.Equipment.Service.EquipmentServiceListViewModel

<div class="row">
    <div class="col-xl-4">
        @Html.Partial("../EM/Service/Summary/List/Panel", Model)
    </div>
    <div class="col-xl-8">
        <div class="reviewPanel" id="reviewPanel">
        </div>
    </div>
</div>