@*@model portal.Models.Views.Bid.BidViewModel
@{
    var panelId = Guid.NewGuid().ToString().Replace("-", "");
    panelId = string.Concat(panelId.Where(char.IsLetter));
}

<div class="panel panel-inverse"
     id="BidViewModel"
     data-reloadurl="@Url.Action("HeaderForm", "BidProposal", new { co = Model.Co, bidId = Model.BidId })"
     data-reloadpanels="">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
            
        </div>
        <h4 class="panel-title">Bid Proposal Header</h4>
    </div>
    <div class="panel-body" id="@panelId">
        @Html.Partial("../BD/Bid/Proposal/Form/Header/Form", Model)
    </div>
</div>*@