@model portal.Areas.Applicant.Models.ApplicationFormViewModel

@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}

<div class="panel panel-default"
     data-reloadurl="@Url.Action("ApplicationForm", "Applicant", new { Area = "Applicant", applicantId = Model.ApplicantId, applicationId = Model.ApplicationId })">
    <div class="panel-heading pointer-cursor" data-toggle="collapse" data-target="#@(panelId)">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <div class="panel-title">
            <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Application Details (@Model.Info.ApplicationDate.ToShortDateString())
        </div>
    </div>
    <div class="panel-body show  b-3" id="@panelId">
        @Html.Partial("Application/Form/_Form", Model)
    </div>
</div>