@model portal.Areas.Safety.Models.Safety.FormViewModel
@{
    var id = Guid.NewGuid().ToString().Replace("-", "");
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}
<div class="panel panel-inverse"
     data-reloadurl="@Url.Action("EmployeeSafetyForm", "Safety", new { hrco = Model.HRCo, hrref = Model.HRRef })">
    <div class="panel-heading">
        <div class="panel-heading-btn">
             <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <h4 class="panel-title">Employee (@Model.EmployeeInfo.FullName)</h4>
    </div>
    <div class="panel-body" id="@panelId">
        @Html.Partial("Forms/_Form", Model)
    </div>
</div>