@model portal.Models.Views.Equipment.Audit.EquipmentAuditListViewModel

<div class="row">
    <div class="col-xl-4">
        @Html.Partial("../EM/Audit/Process/List/Panel", Model)
    </div>
    <div class="col-xl-8 reviewPanel" id="reviewPanel">
    </div>
</div>