@model portal.Areas.AccountsPayable.Models.Document.DocumentInfoViewModel

@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}
<div class="panel panel-default"
     data-reloadurl="@Url.Action("InfoForm", "Document", new { apco = Model.APCo, docId = Model.DocId })">
    <div class="panel-heading pointer-cursor" data-toggle="collapse" data-target="#@(panelId)">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <div class="panel-title">
            <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Info (@Model.DocId)
        </div>
    </div>
    <div class="panel-body show" id="@panelId">
        @Html.Partial("Forms/Info/_Form", Model)
    </div>
</div>
