@model portal.Models.Views.Bid.Wizard.Sales.PackageListViewModel

<div class="panel panel-inverse" 
     id="BidBoreLineListViewModel"
     data-reloadurl="@Url.Action("Table", "BidPackageSalesWizard", new { co = Model.Co, bidId = Model.BidId })"
     data-reloadpanels="PackageBoreLineListViewModel">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
            
        </div>
        <h4 class="panel-title">Bid Packages</h4>
    </div>
    <div class="panel-body" id="BidPackages">
        @Html.Partial("../BD/Bid/Wizard/Draft/Package/List/Table", Model)
    </div>
</div>
<script>

</script>
