@model portal.Models.Views.Equipment.EquipmentListViewModel


<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Equipment List</h4>
    </div>
    <div class="panel-body" id="EquipmentListViewModel">
        @Html.Partial("../EM/Audit/Add/List/Table", Model)
    </div>
</div>
