@model portal.Models.Views.HR.Request.Term.CreateTermRequestViewModel
@{
    var id = Guid.NewGuid().ToString().Replace("-", "");
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}
<div class="panel panel-inverse"
     data-reloadurl="@Url.Action("CreateForm", "HRTermRequestForm")">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <h4 class="panel-title">Term Form</h4>
    </div>
    <div class="panel-body" id="@panelId">
        @Html.Partial("../HR/Request/Term/Create/Form", Model)
    </div>
</div>
<script>
    $(document).ready(function () {
        initPane($('#@panelId'));
    });
</script>