@model portal.Models.Views.Equipment.Audit.EquipmentAuditInventoryFormViewModel


<div id="EMAuditForm_@(Model.AuditId)">
    <div class="row EMAuditForm">
        <div class="col-xl-9 col-12">
            @Html.Partial("../EM/Audit/Form/Panel", Model.Audit)
        </div>
        <div class="col-xl-3 d-xl-block">
            @Html.Partial("../EM/Audit/StatusLog/Panel", Model.StatusLogs)
            @Html.Partial("../WF/AssignedUsers/Panel", Model.WorkFlowUsers)
        </div>
    </div>
    <div class="row EMAuditForm">
        <div class="col-xl-12">
            @Html.Partial("../EM/Audit/Types/Inventory/List/Panel", Model)
        </div>
    </div>
</div>