@model portal.Models.Views.HR.Request.Position.RequestStatusLogListViewModel
@{
    var id = Guid.NewGuid().ToString().Replace("-", "");
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}
<div class="panel panel-default">
    <div class="panel-heading pointer-cursor" data-toggle="collapse" data-target="#@(panelId)">
        <div class="panel-title">
            <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Status Log
        </div>
    </div>
    <div class="panel-body show" id="@panelId">
        @Html.Partial("../HR/Request/Position/Form/StatusLog/Table", Model)
    </div>
</div>