@model portal.Models.Views.HQ.Batch.AP.APBatchTransViewModel

@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}

<div class="panel panel-default"
     data-reloadurl="@Url.Action("APBatchTransactionForm", "Batch", new { co = Model.Co, mth = Model.Mth, batchId = Model.BatchId, batchSeq = Model.BatchSeq })"
     >
    <div class="panel-heading pointer-cursor" data-toggle="collapse" data-target="#@(panelId)">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <div class="panel-title">
            <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Detail
        </div>
    </div>
    <div class="panel-body show" id="@panelId">
        @Html.Partial("../HQ/Batch/Detail/AP/Batch/Transaction/Form/Form", Model)
    </div>
</div>