@model portal.Models.Views.DailyTicket.DailyTicketsUserSummary



<div class="panel panel-inverse" 
     data-reloadurl="@Url.Action("UserTicketsTable", "Dashboard")">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
            
        </div>
        <h4 class="panel-title">Your Tickets</h4>
    </div>
    <div class="panel-body" id="dailyTicketsUserSummary">
        @Html.Partial("../Dashboard/UserTicket/Table", Model)

    </div>
</div>