@model portal.Models.Views.HQ.Batch.AP.APBatchLineViewModel

@{
    var id = Guid.NewGuid().ToString().Replace("-", "");
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
    var viewOnly = bool.TryParse(ViewBag.ViewOnly?.ToString(), out bool viewOnlyOut) ? viewOnlyOut : false;
}

<div class="panel panel-default"
     data-reloadurl="@Url.Action("APBatchLineForm", "Batch", new { co = Model.Co, mth = Model.Mth, batchId = Model.BatchId, batchSeq = Model.BatchSeq, apLineId = Model.APLineId })">
    <div class="panel-heading pointer-cursor" data-toggle="collapse" data-target="#@(panelId)">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
        </div>
        <div class="panel-title">
            <i class="fa fa-circle fa-fw text-blue mr-2 f-s-8"></i> Detail
        </div>
    </div>
    <div class="panel-body show" id="@panelId">
        @Html.Partial("../HQ/Batch/Detail/AP/Batch/Line/Form/Form", Model)
    </div>
</div>




<script>
    $('#@panelId').ready(function () {
        initPane@(id)();
    });

    function initPane@(id)() {
        setTimeout(function () {
            $('#@panelId').find('form').each(function () {
                handleTypeView(this);
                handleCalcView(this);
                handleTaxView(this);
            });
        }, 10);
    }

    function handleTaxView(form) {
        var elem = $(form).find("[name='TaxTypeId']");
        var val = $(elem).val();
        var tax = $(form).find('.taxFieldSet');
        var taxAmount = $(form).find('.TaxAmount');
        var taxRate = $(form).find('.TaxRate');
        var taxType = $(form).find('.TaxTypeId');
        var taxCode = $(form).find('.TaxCodeId');
        var lineTypeId = $(form).find("[name='LineTypeId']").val();
        $(tax).hide();
        $(form).find('.taxGroup').hide();
        var viewOnly = '@viewOnly' === 'True';

        if ("@(User.IsInRole("Admin") ||
                User.IsInPosition("FIN-APMGR") ||
                User.IsInPosition("FIN-AP") ||
                User.IsInPosition("FIN-CTRL") ||
                User.IsInPosition("CFO"))" == "True") {
            $(tax).show();
            if (lineTypeId !== "6") {
                $(taxType).prop("disabled", viewOnly ? viewOnly : false);
            }
            if (val != "0") {
                $(form).find('.taxGroup').show();
            }
        }
        else {
            $(taxType).prop("disabled", true);
            $(taxCode).prop("disabled", true);
            if (val != "0" && lineTypeId !== "6") {
                $(form).find('.taxGroup').show();
                $(tax).show();
            }
        }
        //$(taxAmount).prop("disabled", true);
        $(taxRate).prop("disabled", true);

    }

    function handleCalcView(form) {
        var elem = $(form).find("[name='CalcType']");
        var val = $(elem).val();
        //var lineTypeId = $(form).find("[name='LineTypeId']").val();
        //console.log(elem, val);

        $(form).find('.unitGroup').hide();
        $(form).find('.unitCostGroup').hide();
        if (val == "1") {
            $(form).find('.unitGroup').show();
            $(form).find('.unitCostGroup').show();
        }
        else {
        }
    }

    function handleTypeView(form) {
        var elem = $(form).find("[name='LineTypeId']");
        var calcType = $(form).find("[name='CalcType']")
        var taxType = $(form).find("[name='TaxTypeId']");
        var um = $(form).find("[name='UM']");
        var viewOnly = '@viewOnly' === 'True';
        var lineTypeId = $(elem).val();
        //console.log('lineTypeId', lineTypeId);

        $(form).find('.unitGroup').each(function () {
            $(this).prop("disabled", viewOnly ? viewOnly : false);
        });

        $(calcType).prop("disabled", viewOnly ? viewOnly : false);
        $(taxType).prop("disabled", viewOnly ? viewOnly : false);
        $(um).prop("disabled", viewOnly ? viewOnly : false);

        $(form).find('.jobGroup').hide();
        $(form).find('.eqpGroup').hide();
        $(form).find('.poGroup').hide();
        $(form).find('.glGroup').show();
        if (lineTypeId == "4") {
            $(form).find('.eqpGroup').show();
            $(form).find('.jobGroup').each(function () {
                $(this).prop("disabled", viewOnly ? viewOnly : false);
            });
        }
        else if (lineTypeId == "1") {
            $(form).find('.jobGroup').show();
            $(form).find('.jobGroup').each(function () {
                $(this).prop("disabled", viewOnly ? viewOnly : false);
            });
        }
        else if (lineTypeId == "3") {
            $(form).find('.glGroup').show();
        }
        else if (lineTypeId == "6") {
            $(form).find('.poGroup').show();
            var elem = $(form).find("[name='POItemTypeId']");
            var itemTypeId = $(elem).val();

            $(calcType).prop("disabled", true);
            $(taxType).prop("disabled", true);
            $(um).prop("disabled", true);

            //$(form).find('.unitGroup').each(function () {
            //    $(this).prop("disabled", true);
            //});

            if (itemTypeId == "4" || itemTypeId == "Equipment") {
                $(form).find('.eqpGroup').show();
                $(form).find('.eqpGroup').each(function () {
                    $(this).prop("disabled", true);
                });
            }
            else if (itemTypeId == "1" || itemTypeId == "Job") {
                $(form).find('.jobGroup').show();
                $(form).find('.jobGroup').each(function () {
                    $(this).prop("disabled", true);
                });
            }
            else if (itemTypeId == "3" || itemTypeId == "Expense") {
                $(form).find('.glGroup').show();
                $(form).find('.glGroup').each(function () {
                    $(this).prop("disabled", true);
                });
            }
        }
    }
</script>