@model portal.Models.Views.HQ.Batch.AP.APBatchTransListViewModel
@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}
<ul class="nav nav-tabs nav-justified nav-justified-mobile" data-sortable-id="index-2">
    <li class="nav-item"><a href="#trans" data-toggle="tab" class="nav-link active"><span class="d-none d-md-inline">Transactions</span></a></li>
    <li class="nav-item"><a href="#transform" data-toggle="tab" class="nav-link"><span class="d-none d-md-inline">Transaction Info</span></a></li>
</ul>
<div class="tab-content" style="padding:0px; overflow:unset;" id="@panelId">
    <div class="tab-pane  active show" id="trans">
        @Html.Partial("../HQ/Batch/Detail/AP/Batch/Transaction/List/Panel", Model)
    </div>
    <div class="tab-pane " id="transform">
    </div>
</div>

<div class="reviewPanel" id="APLinePanel">

</div>