@model portal.Models.Views.HR.Position.CreatePositionViewModel

<div class="row">
    <div class="col-12">
        @Html.Partial("../HR/Position/Create/Panel", Model)
    </div>
</div>
<hr />
<div class="pull-right p-r-10">
    <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
    <button type="button"  class="btn btn-primary btnAddPosition">Create New Position</button>
</div>
<script>
    $('.btnAddPosition')
        .off('click')
        .on('click', function () {
            //console.log('clicked');
            var func = function (button, form) {
                $(button).Busy();
                data = $(form).SerializeForm();
                url = $(form).data('url');
                //console.log(data, url);
                $.post(url, data, function (res) {
                    if (res.success === "true") {
                        $('#newPosition').modal('hide');
                        
                    }
                    else {
                        SetValidationErrorForObject($(form), res.errorModel);
                    }
                    $(button).NotBusy();
                });
            }
            var button = this;
            var modal = $(button).closest('.modal-body');
            var form = $(modal).find('form');

            $(form).PostValidate(button, function (valid) {
                console.log("IsValid:", valid);
                if (valid) {
                    func(button, form);
                }
            });
        });
</script>