@model portal.Models.Views.Bid.Forms.Bore.DetailListViewModel
@{
    var panelId = string.Format("panel_{0}", Guid.NewGuid());
}
<div id="@panelId" class="row">
    <div class="col-lg-7">
        @Html.Partial("../BD/Bid/Forms/Bore/Setup/List/Panel", Model)
    </div>
    <div class="col-lg-5" id="BoreSetupReview_@(Model.PackageId)">
        
    </div>
</div>

<script>
    $('#@panelId').ready(function () {
        initPanels($('#@panelId'));
    });
</script>